.venv/
__pycache__/
*.pyc
.DS_Store

/data/raw/*.parquet
/data/raw/*.csv
/data/warehouse/*.duckdb
/output/*
!/output/.gitkeep
!/output/taxature_pr_dag_januar_2025.png
!/data/raw/.gitkeep
!/data/warehouse/.gitkeep

.vscode/
